# __ Server ____________________________________________________________________
PORT=3001
NODE_ENV=development

# __ MongoDB Atlas (via Mongoose) _____________________________________________
MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.tc3alix.mongodb.net/?appName=Cluster0

# __ Redis _____________________________________________________________________
REDIS_HOST=localhost
REDIS_PORT=6379

# __ JWT _______________________________________________________________________
JWT_SECRET=change_me_to_a_long_random_secret
